<h1>THIS IS OUR HOME PAGE FOR NOW LMAO</h1>
<img src="http://24.media.tumblr.com/3349900dbcc5be7a71942dbd73d513b3/tumblr_n19031ewYm1qh2ckoo10_500.jpg">
<%= link_to 'Food Gallery', food_index_path() %>
